/*-- scss:defaults --*/

$primary: #0087af !default;
$body-color: #070707 !default;

/*-- scss:rules --*/

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------ CUSTOM RULES ---------------------- */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

// Add any custom css styling here... 

span.navbar-title {
  font-size: 1.5em; // Increase font size for navbar title
  text-align: center; // Center align the text
}

.quarto-title > h1.title {
    display: none; // Hide main title in .quarto-title
}

.mt-2.flex-shrink-0.align-items-center {
        display: none; // Hide elements with this class
}

#title-block-header {
        display: none; // Hide the title block header
}
	
#refs {
        display: none; // Hide the references section
}

#quarto-header {
  background: 
    linear-gradient(90deg, rgba(26, 129, 194, 1) 50%, rgba(26, 129, 194, 0) 100%), /* Solid blue to transparent gradient */
    url("assets/header_figure.jpg"); /* Background image */
  background-blend-mode: normal; /* No blending mode to apply image on top of gradient */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}

#quarto-header a.navbar-brand,
#quarto-header .navbar-title, 
#quarto-header .bi.bi-git,
#quarto-header .bi.bi-twitter,
#quarto-header a.nav-link{
  color: white; // Set text color to white for these elements
}

.navbar-brand-container {
    display: flex;
    align-items: center; // Align items in center for flex container
}

.navbar-logo {
    max-height: 70px; // Set max height for navbar logo
    width: auto; 
}

.navbar-nav {
  display:flex;
  display:-webkit-flex;
  flex-direction:column; // Set flex direction to column for navbar
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; // Remove list styling
  font-size: 1.4em; // Increase font size
}

nav .nav-item.compact .nav-link {
  padding-left:.5rem;
  padding-right:.5rem;
  font-size:1.4rem; // Adjust padding and font size for compact nav items
}

.navbar-brand-container {
  margin-right: 0px;
  margin-left: 0px // Remove margins for navbar brand container
}

#nav-menu-bi-git {
  padding-left: 0px;
  padding-right: 5px; // Adjust padding for menu item
}

#quarto-header a.nav-link.dropdown-toggle .menu-text {
  display: none; // Hide dropdown menu text
}

.aa-DetachedSearchButtonIcon svg {
  fill: white; // Set icon fill color to white
}

.mt-2.flex-shrink-0.align-items-center {
  display:block;
}

.quarto-title>h1.title,
.quarto-title>.title.h1 {
  display:block; // Display title elements
}

main>#title-block-header {
  display:block;
  text-align: center; 
  background-color: #6c757d8f; 
  background-border: #0087af; // Set background color
  color: #fff; // Set text color to white
  padding: 20px; // Set padding for the header
  border-bottom-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -10px;
  margin-bottom: 0px;
  font-family: "Atkinson Hyperlegible", sans-serif; // Set font
}

main>#title-block-header .title {
  border-bottom: none; // Remove bottom border for title
}

main>header#title-block-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

span.quarto-section-identifier {
  color:#070707;
  font-weight:normal;
  margin-right:0;
}

.title {
  padding-top: 0px; // Remove padding for title
}

h2.anchored {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 28px;
  border-color: #0087af ; // Set border color and style
  border-bottom-style: solid; 
  border-bottom-width: 4px; 
}

li.dropdown-header > span.menu-text {
  color: black; /* Définir la couleur du texte en noir */
}

// Set flex properties for navbar containers
.navbar>.container-xxl,
.navbar>.container-xl,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container,
.navbar>.container-fluid {
  display:flex;
  display:-webkit-flex;
  flex-wrap:inherit;
  -webkit-flex-wrap:inherit;
  align-items:center;
  -webkit-align-items:center;
  justify-content:space-between;
  -webkit-justify-content:flex-start;
}

.quarto-page-breadcrumbs.quarto-title-breadcrumbs.d-none.d-lg-block {
  display: none !important; // Hide breadcrumbs on large screens
}


// This format is applied whenever you press the dark mode button
.quarto-dark {

	#quarto-sidebar {
	  background-color: #222; // Dark sidebar background
	}
	p {
	  /* color: #070707; */
	  color: #b5b5b5;
	  color: #b5b5b5; // Dark mode paragraph text color
	}
	.sidebar.sidebar-navigation:not(.rollup) {
	  /* border-right: 1px solid #434343 !important; */
	  border-right: 1px solid #222 !important;
	  color: #b5b5b5;
	  border-right: 1px solid #222 !important; // Dark mode sidebar border
	}
	strong {
	  color: #e1e1e1; // Strong tag text color in dark mode
	}
	a {
	  color:#037da1; // Link color in dark mode
	}
	h1, h2, h3, h4 {
	  color:#fff; // Heading color in dark mode
	}
	.navbar-logo {
	  max-height: 70px; 
	  width: auto; // Logo dimensions in dark mode
	}
	.navbar {
	  padding-top:.5rem;
	  padding-bottom:.5rem; // Navbar padding in dark mode
	}
	#overview > h1:nth-child(1) {
	  margin-top: 0px; // Remove margin for first heading in overview
	}
	#quarto-header {
	  background: 
        linear-gradient(90deg, rgba(26, 129, 194, 1) 50%, rgba(26, 129, 194, 0) 100%), /* Solid blue to transparent gradient */
        url("assets/header_figure.jpg"); /* Background image */
      background-blend-mode: normal; /* No blending mode to apply image on top of gradient */
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center right;
	  
	}
	.navbar-brand-container {
	  margin-right: 0px;
	}
	nav .nav-item.compact .nav-link {
	  padding-left:.5rem;
	  padding-right:.5rem;
	  font-size:1.4rem; // Compact nav item styling in dark mode
	}
	span.quarto-section-identifier {
	  color:#fff;
	  font-weight:normal;
	  margin-right:0; // Section identifier color in dark mode
	}
	div.callout.callout {
	  border-left-color:#6c757d;
	  background: #393939; // Callout background in dark mode
	}


}


/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ----------------- DEFAULT RULES ---------------------- */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

code { color: #070707; }

/* Code chunks ------------------------------------------ */

div.sourceCode {
  background-color: #ffffff00;
  border: 2px;
  border-radius: 8px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 10px 10px 0 rgba(0, 0, 0, 0.05), 0 22px 13px 0 rgba(0, 0, 0, 0.03), 0 39px 16px 0 rgba(0, 0, 0, 0.01), 0 61px 17px 0 rgba(0, 0, 0, 0);
}

pre.sourceCode.r, code.sourceCode.r {
  
  $border: 2px;
  color: #070707;
  background: #FFF;
  background-clip: padding-box; /* !importanté */
  border: solid $border transparent; /* !importanté */
  border-radius: 8px;
  
  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: #0087af;
  }

}

/* Chapter label ---------------------------------------- */

.chapter-number::before {
  content: "Chapter ";
}

.chapter-number::after {
  content: " –";
}

/* Cover image ------------------------------------------ */

.quarto-cover-image {
  max-width: 250px;
  float: right;
  margin-left: 30px;
  margin-top: -30px;
  margin-right: 10%;
}

/* Left navbar ------------------------------------------ */

div.sidebar-item-container .active, div.sidebar-item-container .show>.nav-link, div.sidebar-item-container .sidebar-link>code {
  font-weight: 800;
}

.sidebar-title {
  font-weight: 800;
  background: #0087af;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sidebar-tools-main {
  font-weight: normal;
  background: white;
  color: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
}

.sidebar-navigation li a {
  text-decoration: underline;
}

.text-start {
  text-align: left !important;
  font-weight: 800;
}

#quarto-sidebar {
  transition: width .15s ease-in;
  padding: 14px 10%;
  background-color: white;
}

.sidebar.sidebar-navigation:not(.rollup) {
  border-right: 0px !important
}

.sidebar-navigation .sidebar-item {
  font-size: 1rem;
  line-height: 2em;
}

.sidebar-menu-container {
  border: solid #0087af 2px;
  border-radius: 8px;
  padding: 8px;
  margin-top: 25px;
}

/* right navbar ----------------------------------------- */

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
  border-left: 4px solid #3792ad;
  font-weight: 800;
}

#toc-title+ ul > li > .nav-link {
  font-weight: 1000;
}



/* Headings and text styling --------------------------- */

h1 {
  font-size: 36px;
  color: #070707;
  font-weight: 700;
  border-image: linear-gradient(to right, #0087af, #0087af) 1;
  border-bottom-style: solid;
  border-bottom-width: 4px;
}
h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 32px;
  border-bottom: 0px;
}
h3 { margin-top: 1.5em; font-size: 1.2rem; }
h4 { margin-top: 1.5em; font-size: 1.1rem; }
h5 { margin-top: 1.5em; font-size: 1rem; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  line-height: 120%;
  margin: 0 0 1rem;
  width: fit-content;
  padding-top: 0.5rem;
  color: #070707;
}

p {
  margin: 1rem 1rem 1rem 10rem; 
  font-size: 1rem;
  color: #070707;
  line-height: 130%;
  text-align: justify; 
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


.quarto-section-identifier {
  color: #070707;
  font-weight: normal;
  margin-right : 10rem
}

ul li::marker {
  color: #3792ad; 
}

/* Underlining links ------------------------------------ */

.citation a, .footnote-ref {
  text-decoration: underline;
}

/* Printing --------------------------------------------- */

@media print {
  :root {
    font-size: 11pt;
  }
  #quarto-sidebar, #TOC, .nav-page {
    display: none;
  }
  .page-columns .content {
    grid-column-start: page-start;
  }
  .fixed-top {
    position: relative;
  }
  .panel-caption, .figure-caption, figcaption {
    color: #666;
  }
}

/* Workflow styles --------------------------- */

.flag{ /* For translation flags  */
  border-style: solid;
  border-color: #007562;
  border-radius: 50%;
  justify-content: center; 
  align-items: center; 
  width: 64px !important;
  height: 64px !important;
  margin-right: 0%;
}

#translate{
  display: flex;
  justify-content: center;
  text-align: center;
}
#banner {
    display: flex;
    justify-content: center; 
    align-items: center; 
    max-width: 70%;
    max-height: auto;
    text-align: center; 
    margin: 0 auto; 
}
